<div class="row room">
<span class="room-label "> <%= @room.name %></span>
  <div class="temps">
      <%= form_for(@room) do |f|  %>
        <%= f.label :name  , class: "temp-label" %>
        <%= f.text_field :name %>
       <div class="current">
        <%= f.label :current_temp , class: "temp-label" %>
        <%= f.text_field :current_temp %>
        Original Setting
        <span class="temp"> <%= @room.current_temp %>ยบ</span>
      </div>
      <div class="target">
        <%= f.label :target_temp , class: "temp-label" %>
        <%= f.text_field :target_temp %>
        Original Setting
        <span class="temp"> <%= @room.target_temp %>ยบ</span>
      </div>
      <%= f.submit "Update Settings", class: "btn btn-primary" %>
      <% end %>
      <%= link_to "Delete Room", @room, method: :delete, data: { confirm: "You are about to delete this room. Continue?" }, class: "btn btn-danger" %>
      <p>"Hey that CSS doesn't look good"</p>
      <p>"Really?"</p>
      <p>"Yeah. Looks like dog shit"</p>
      <p>*Gun cocks*</p>
      <p>"Looks great"</p>
  </div>
</div>
</div>
