<% @rooms.each do |room| %>
  <div class="row room">
    <span class="room-label col-xs-6"> <%= room.name %></span>
    <div class="temps col-xs-5">
      <div class="current">
        <span class="temp-label">Current</span>
        <span class="temp"> <%= room.current_temp %>ยบ</span>
      </div>
      <div class="target">
        <span class="temp-label">Target</span>
        <span class="temp"> <%= room.target_temp %>ยบ</span>
      </div>
    </div>
    <div class="more col-xs-1">
      <%= link_to edit_room_path(room) do %>
        <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
    </div>
  </div>
<% end %>
<div class="row">
  <%= link_to new_room_path(@room) do %>
    <button class="btn btn-danger" type="button">
      New Room
    </button>
  <% end %>
</div>

<script>
  TemperatureManager.updateIndexTemps();
</script>
