<div class="row room">
<span class="room-label ">New Room</span>
  <div class="temps">
      <%= form_for(@room) do |f|  %>
        <%= f.label :name  , class: "temp-label" %>
        <%= f.text_field :name %>
       <div class="current">
        <%= f.label :current_temp , class: "temp-label" %>
        <%= f.text_field :current_temp %>
      </div>
      <div class="target">
        <%= f.label :target_temp , class: "temp-label" %>
        <%= f.text_field :target_temp %>
      </div>
      <%= f.submit "Create New", class: "btn btn-primary" %>
      <% end %>

  </div>
</div>
</div>
